<template name="account">
<div></div>  		
  	<h1 class="transparent-header" align="center">My Posts</h1>
  	
	{{> postings}}

</template>



<template name="postings">
	<div class="container">

		{{#each postings}}
			{{> posting}}
		{{/each}}
	</div>
</template>


<template name="posting">
	<div class="panel panel-default">
	  	<div class="panel-body">
		  	<div class="media">
			  	<div class="media-left col-xs-1 col-md-1">
				    <a href="#">
				      	<img class="media-object post-image" src="{{image}}" alt="">
				    </a>
			  	</div>
			  	<div class="media-body">
			    	<h4 class="media-heading col-xs-offset-2">{{title}} : {{price}}
				    	<div class="pull-right">
				    		<a href="{{pathFor 'postEdit'}}">
				    			<button type="button" id="edit" class="btn btn-info">
				    				<span class="glyphicon glyphicon-wrench"></span>
				    			</button>
				    		</a>
			    			&nbsp;
			    			<button type="button" id="delete" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
			    		</div>
			    	</h4>
			  	</div>
			</div>
	  	<!-- <h4>{{title}} : {{price}}
		    <div class="pull-right">
		    	<button type="button" class="btn btn-info"><span class="glyphicon glyphicon-wrench"></span></button>
		    	&nbsp;
		    	<button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
		    </div>
		</h4> -->
	  	</div>
	</div>
</template>






