<template name="footer">
	<div class="container-fluid">
		<div class="col-md-12" align="center">
			<a data-toggle="modal" class="footer-options" data-target="#aboutUs">About Us</a>&nbsp;
			<a data-toggle="modal" class="footer-options" data-target="#contactUs">Contact Us</a>&nbsp;
			<a data-toggle="modal" class="footer-options" data-target="#terms">Terms & Conditions</a>
			<br>
		</div>
	</div>

	<div class="modal fade" id="aboutUs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        			<h4 class="modal-title" id="myModalLabel">About Us</h4>
      			</div>
      			<div class="modal-body">
        			<p>&copy;Hive est un site internet créé par un étudiant à l'Université de Lausanne!</p>
      			</div>
      			<div class="modal-footer">

      			</div>
    		</div>
  		</div>
	</div>

	<div class="modal fade" id="contactUs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        			<h4 class="modal-title" id="myModalLabel">Contact Us</h4>
      			</div>
      			<div class="modal-body">
        			<h5>Contactez moi !</h5>
        			<h5>sebastien.piller@unil.ch</h5>
      			</div>
      			<div class="modal-footer">

      			</div>
    		</div>
  		</div>
	</div>

	<div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        			<h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
      			</div>
      			<div class="modal-body">
	        		<h5>Privacy</h5>
	        			<p>Every user of this free service is responsible for their own privacy. We Encourage all users to never reveal personal information such as personal address with complete strangers</p>
	        			<p>We do not track you, record your serches, give any of your information, nor do we keep any of the images and content our users upload</p>
	        			<p><h5>Privacy is the right of everyone. We take this very seriously.</h5></p>

	        		<h5>Security</h5>
	        			<p>For your own security, we recommend that you never wire money to anyone. This is to avoid scams and related events. Always ask to meet in a public place for exchanges and such.</p>
	        			<p>We do not allow the selling, buying, or trading in any form or manor of illegal items such as weapons, drugs and such. This also applies to illegal activities tresspassing and such.</p>

	        		<h5>Complaints</h5>
	        			<p>If you have any complaints and/or suggestions please do not hesitate to reach out to us at admin@chidevelopers.com</p>

	        		<h5>Safety</h5>
	        			<p>Every user of this free service is expected to act responsibly. This includes posting age appropriate material and not posting offers of any offesive or illegal material.</p>

	        		<h5>Copyrights</h5>
	        			<p>This being a service available to all in the community, it is hard to track down all copyright infringments and violations. We ask that our users do not post break any copyright laws as we do not tolerate that and will take your postings down.</p>

	        		<h5>Disclaimer</h5>
	        			<p>&copy;Hive is not responsible for anything that may occur as a result of this free service.</p>

      			</div>
      			<div class="modal-footer">

      			</div>
    		</div>
  		</div>
	</div>
</template>
